* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.div1 {
    display: flex;
    flex-direction: row;
    margin: 30px;
}



.div2 {
    padding-left: 290px;
    margin: 18px;
}

.ul1 {
    margin-left: 180px;
}

.li1 {
    list-style-type: none;
    float: left;
    font-size: 15px;
    margin: 15px;
    display: block;
    margin-top: 0px;


}

.li1:hover {
    border-bottom-style: solid;
}

.img1 {
    width: 120px;
    ;
    height: 20px;
    margin-left: 22px;
}


.searchdiv {
    margin-left: 370px;
    
}

.search1 {
    height: 18px;
    width: 18px;
}
.byimg2 {
    height: 250px;
    width: 100%;
    margin-top: -10px;

}

.div3 {
    display: flex;
    padding-left: 220px;
}

.img3 {
    height: 200px;
    width: 180px;
    margin: 20px;
}

.img3:hover {
    height: 200px;
    width: 185px;

}

.div4 {
    margin-left: 150px;
    margin-right: 220px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.borderby1 {
    border-color: rgb(145, 64, 145);
    height: 550px;
}

.jeeby {
    color: rgb(109, 25, 173)
}


.div5 {
    display: flex;
    flex-direction: row;
    padding: 35px;

}

.byborder2 {
    border: 1px solid rgb(210, 203, 203);
    height: 340px;
    width: 220px;
    margin: 15px;
    padding: 5px;

}

.byimg5 {
    height: 210px;
    width: 190px;
    padding: 5px;
    padding: 5px;

}

.byimg6 {
    height: 210px;
    width: 190px;
    padding-left: 80px;
    padding: 5px;
}

.byimg7 {
    height: 210px;
    width: 190px;
    padding-left: 10px;
    padding: 5px;
}

.byimg8 {
    height: 210px;
    width: 190px;
    padding-left: 10px;
    padding: 5px;
}

.bystyle1 {
    background-color: rgb(75, 200, 75);
    border-radius: 35%;

}

.byhover2 {
    margin-top: 13px;

}

.byhover2:hover {
    color: rgb(158, 20, 20);
}


.div6 {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.byimg9 {
    height: 250px;
    width: 255px;
    padding-right: 15px;
    margin: 0px;
}

.div7 {
    margin-left: 26px;
}

.hover3 {
    margin-top: 15px;

}

.hover3:hover {
    color: brown;

}

.byview {
    width: 100px;
    height: 45px;
    margin: 40px;
    font-size: 15px;
    color: blueviolet;
    border-color: blueviolet;
    border-radius: 15%;
}

.byimage11 {
    height: 380px;
    width: 100%;
    margin-top: 25px;

}

.div8 {
    display: flex;
    flex-direction: row;
}

.div8>img {
    height: 380px;
    width: 545px;
    margin-right: 30px;
    margin-top: 20px;
}

.div9 {
    margin-left: 35px;
    border-radius: 5%;
}

.byimg10 {
    border-radius: 5%;
}

.footer {
    display: flex;
    flex-direction: row;
    gap: 100px;
    margin-left: 500px;


}

.div10>h3 {
    font-size: 20px;
    margin-bottom: 30px;
}

.div10>p {
    margin-top: 15px;
    font-size: 16px;
    
}

.img11 {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(147, 135, 135);
    background-color: rgb(171, 153, 153);
    margin-left: 5px;
    border-radius: 25px;
    margin-top: 10px;

}

.img12 {
    height: 50px;
    width: 50px;
    margin-right: 20px;

}

.div13 {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}

.div14 {
    padding-left: 400px;

}

/* / laptop / */
@media screen and (min-width:769px) and (max-width:1025px) {

     .ul1 {
        margin-left: 120px;
        display: flex;

    } 
    
    .li1 {
        list-style-type: none;
        float: left;
        font-size: 15px;
        margin: 10px;
        display: block;
        margin-top: 0px;
        width: 100px;
    
    
    } 
    

    .searchdiv {
        margin-left: 15px;
        display: flex;
    }

    .div3 {
        margin-left: -150px;
        margin-right: 190px;

    }

    .img3 {
        width: 200px;
        height: 150px;

    }

    .div4 {
        margin-left: 40px;
        margin-right: 40px;
        margin-top: 300px;
        margin-bottom: 50px;
    }
    .byborder2{
        border: none;
    }
    #madhu {
        height: 160px;
        width: 150px;
        padding: 0px;
        margin: 30px;
    }

    #mahi {
        height: 40px;
        width: 15px;
        padding-left: 150px;
        margin-left: 180px;
    }
    
     

    .learnimg1 {
        height: 40px;
        width: 5px;

    }

    #non {
        display: none;
    }

    .hover3 {
        width: 250px;
    }

    #byview1 {
        margin-top: 350px;
        padding: 0;

    }

    .div8>img {
        width: 500px;
        height: 300px;
    }

    #youtube {
        display: flex;
        flex-direction: row;
    }

    #youtube1 {
        width: 290px;
        height: 200px;
    }


    .div10>p {
        padding-left: 0px;
    }

    #divfour {
        margin-top: 10px;
    }

    .footer {
        margin-left: 300px;
        margin-top: 100px;
    }

    .div13 {
        display: flex;
        flex-direction: row;
        margin-top: 50px;margin-bottom: 50px;

    }
    .div14 {
        display: flex;
        flex-direction: row;
        margin-top: -10px;
        margin-left: -300px;
    }
    .div15{
        display: flex;
        flex-direction: row;
        width: 500px;

    }
      .head{
          margin-top: -200px; 
     }

}

/* / tablat / */
@media screen and (min-width: 426px) and (max-width:769px) {
    .mani>ul {
        display: none;

    }


    .img1 {
        margin-left: 300px;
    }

    .searchdiv {
        margin-left: 250px;
        display: flex;
    }

    .byimg2 {
        width: 100%;
        height: 150px;
        margin-right: 0px;
    }

    .div3 {
        margin-left: -160px;
        margin-right: 190px;

    }

    .img3 {
        width: 200px;
        height: 150px;

    }

    #divfour {
        margin-top: 10px;
    }

    .div4 {
        margin-left: 20px;
        margin-right: 30px;
        margin-top: 300px;
        margin-bottom: 50px;
    }

    .byborder2 {
        border: none;

    }

    .div5>:nth-child(4){
        display: none;
    }
    #madhu {
        height: 160px;
        width: 150px;
        margin-left: 30px; 
    }
    .hover3 {
        width: 250px;
    }

    #divfour {
        margin-top: 10px;
    }

    #mahi {
        height: 40px;
        width: 30px;
        padding-left: 150px;

        margin-left: 100px;
    } 

    .learnimg1 {
        height: 40px;
        width: 5px;

    }

    #non {
        display: none;
    }

    #byview1 {
        margin-top: 350px;
        padding: 0;

    }

    .div8>img {
        width: 500px;
        height: 250px;
    }

     .head1 {
        font-size: 30px;
     }
     .head{

        margin-top: -280px;

     }


    #youtube1 {
        width: 650px;
        height: 200px;
        padding: 8px;
        display: flex;
        flex-direction: column;
        border-radius: 8%;
        margin-left: 10px;
    }

    .footer {
        margin-left:10px;
        margin-top: 60px;
        gap: 250px;
    }

    .div13 {
        display: flex;
        flex-direction: row;
        margin-top: 50px;margin-bottom: 50px;

    }
    .div14 {
        display: flex;
        flex-direction: row;
        margin-left: -300px;
    }
    .div15{
        display: flex;
        flex-direction: row;
        width: 500px;

    }


}

/* / mobile / */
@media screen and (max-width:426px) {
    .mani>ul {
        display: none;

    }

    .img1 {
        margin-left: 100px;
    }

    .searchdiv {
        margin-left: 150px;
        display: flex;
    }

    .byimg2 {
        width: 100%;
        height: 150px;
        margin-right: 0px;
    }

    .div3 {
        margin-left: -180px;
        margin-right:300px;
    }

    .img3 {
        width: 130px;
        height: 100px;
        margin-left: -10px;
    

    }
    #divfour {
        margin-top: 10px;
    }

    .div4 {
        margin-left: 20px;
        margin-right: 30px;
        margin-top: 300px;
        margin-bottom: 50px;
    }
     #madhu {
        height: 160px;
        width: 150px;
        padding-left: 0px;
        margin: 30px;
        margin-left: -20px;
    } 
    .div5>:nth-child(4){
        display: none;
    }
    
    .byborder2:nth-child(3){
        display: none;

    }
    .byborder2:nth-child(4){
        display: none;

    }
    .byborder2{
        border: none;
    }

    #mahi>img {
        height: 200px;
        width: 280px;
        padding-left: 80px;
        margin-left: -80px;
    }

    .learnimg1>img{
        height: 200px;
        width: 190px;

    }
    #non {
        display: none;
    }
    .div7:nth-child(3){
        display: none;
    }
    #byview1 {
        margin-top: 50px;
        padding: 0;

    }
    .div4 {
        margin-left: 20px;
        margin-right: 30px;
        margin-top: 300px;
        margin-bottom: 50px;
    }
    .hover3 {
        width: 130px;
    }
    #divfour {
        margin-top: 10px;
    }
    .div8>img {
        width: 170px;
        height: 150px;
    }
    .byimage11{
    width: 100%;
    height: 150px;
    }
   #mobil{
    margin-top: -50px;
   }
   
   #youtube1 {
    width:100%;
    height: 150px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    border-radius: 8%;
    margin-left: 15px;
}
.footer {
    display: flex;
    flex-direction: column;
    margin-left:10px;
    margin-top: 40px;
}

.div13 {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 50px;

}
.div12{
    margin-top: -50px;
}
.div14 {
    display: flex;
    flex-direction: row;
    margin-left: -350px;
}
.div15{
    display: flex;
    flex-direction: row;
    width: 500px;

}
.head1{
    font-size: 15px;

}


}