*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
.main-container #main-img1{
    width: 100%;
    height: 350px;
    /* background-color: #572bd8;  */
}
#main-img1{
    position: relative;

}
#main-img2{
    
    position: absolute;
    top: 20px;
    right: 45%;
}
.main-container h1{
    position: absolute;
    top:140px;
    right: 37%;
    color: white;
    font-size: 40px;
}
.para-1{
    width: 100%;
    line-height: 45px;
    font-size: auto;
    margin-left: 100px;
}
.span{
    color: blue;
    font-weight: bold;
}
.span:hover{
    text-decoration: underline;
}
.style1{
    color: rgb(58, 193, 193);
}
.textbar{
    background-color: #F4F4F4;
    width: 650px;
    height: 40px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}
.textareabar{
    
    background-color: #F4F4F4;
    width: 650px;
    height: 150px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}

.div-1{
    display: flex;
    flex-direction: row;
    width: 800px;
    margin-top: 20px;
}
.touch1{
    width: 500px;
    height: 500px;
    padding-left: 80px;
} 
.touch2{
    margin-left: 70px;
    margin-top: -20px;
    margin-bottom: 20px;
    color: #815188;
    text-align: center;
}
.shadow1{
    width: 400px;
    height: 400px;
    box-shadow:10px;
    box-shadow: 0px 0px 3px 3px rgb(197, 225, 242);
}
.div-1{
    margin-left: 100px;
}
.shadow-2{
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-radius: 50%;
    border: 15px solid greenyellow;
    margin: auto;
    position: relative;
    top: 0px;    
}
.shadow-2>h1{
    text-align: center;
    margin-top: 80px;
    color: gray;
}
.color{
    color: gray;
    text-align: center;
}
.shadow-2>h2{
    text-align: center;
    color: gray;
}
.shadow1>h3{     
    margin-top: 50px;
    color: grey;

    
}
.button{
      /* background-color: white; */
    color: blue; 
    border-radius: 40px; 
    width: 250px;
    height: 60px;
    margin-left: 100px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    font-size: 18px;
}
.attach{
    margin-top: 0px;
}
.button-1{
    width: 150px;
    height: 50px;
    background-color: blue;
    border-radius: 40px;
    margin-left: 300px;
position: relative;
border: none;
margin-top: 0px;
}
.veera>h3{
    /* font-size: 20px; */
    /* margin-top: 50px; */
    /* line-height: 0px; */
    margin-left: 20px;
    /* margin-top: -50px; */
    color: grey;
}
.veera{
    margin-top: -70px;
    line-height: 20px;

}
.succes-fix-profi img{
    width: 70px;
    height: 70px;
    border-radius: 90%;
    background-color: #39145C;
    position: fixed;
    bottom: 0px;
    right: 5px;
}
.fixed-text{
    width: 200px;
    height: 50px;
    background-color:#63009b;
   border-radius: 7px 0px 7px 7px;
   position: fixed;
   bottom: 50px;
   right: 0px;
}


@media screen and (max-width:1025px) {

    .main-container #main-img1{
        width: 1250px;
        height: 350px;
        
    }
    #main-img2{
        top: 20px;
        right: 35%;
    }
    .main-container h1{
        top:110px;
        right: 20%;
    }
    .para-1{
        font-size: 21px;
        line-height: 25px;
        margin-top: 10px;
    }
    .forms p{
        font-size: larger;
    }
    .textbar{
        padding: 24px 0px 24px 0px;
    }
    .div-1{
        margin-left: 50px;
    }
    .para-1{

        margin-left: 50px;
    }
    .button{
        
        margin-left: 40px;
    }
    .button-1{
        width: 150px;
        height: 50px;
        background-color: blue;
        border-radius: 40px;
        margin-left: 280px;
    position: relative;
    margin-top: 0px;
    }
}



@media screen and (max-width:769px) {

    .main-container #main-img1{
        width: 1350px;
        height: 450px;
        
    }
    #main-img2{
        top: 0px;
        right: 5%;
    }
    .main-container h1{
        top:170px;
        right: -15%;
    }
    .para-1{
        font-size: 28px;
        line-height: 50px;
        margin-top: 10px;
        width: 1300px;
    }
    .forms p{
        font-size: 30px;
        width:auto ;
    }
    .textbar{
        padding: 24px 0px 24px 0px;
    }
    .button{
        /* background-color: white; */
      color: blue; 
      border-radius: 40px; 
      width: 250px;
      height: 60px;
      margin-left: 30px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      border: none;
      font-size: 25px;
  }
  .button-1{
    width: 200px;
    height: 80px;
    background-color: blue;
    border-radius: 40px;
    margin-left: 500px;
position: relative;
border: none;
margin-top: 0px;
font-size: 25px;
}
.div-1{
    display: block;
    flex-direction: row;
    width: 800px;
    margin-top: 20px;
}
.touch1{
    width: 500px;
    height: 500px;
    padding-left: 80px;
    margin-left: 280px;
    margin-top: 30px;
} 
.touch2{
    margin-left: 70px;
    margin-top: 0px;
    margin-bottom: 20px;
    color: #815188;
    text-align: center;
}
.shadow1{
    width: 400px;
    height: 400px;
    box-shadow:10px;
    box-shadow: 0px 0px 3px 3px rgb(197, 225, 242);
}
.div-1{
    margin-left: 100px;
}
.shadow-2{
    width: 250px;
    height: 250px;
    background-color: transparent;
    border-radius: 50%;
    border: 15px solid greenyellow;
    margin: auto;
    position: relative;
    top: 0px;  
    justify-content: center;  
}
.shadow-2>h1{
    text-align: center;
    margin-top: 80px;
    color: gray;
}
.color{
    color: gray;
    text-align: center;
}
.shadow-2>h2{
    text-align: center;
    color: gray;
}
.shadow1>h3{     
    margin-top: 50px;
    color: grey;
    

}
.textbar{
    background-color: #F4F4F4;
    width: 1120px;
    height: 100px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}
.textareabar{
    
    background-color: #F4F4F4;
    width: 1120px;
    height: 200px;
    border-radius: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: none;
}
.succes-fix-profi img{
    width: 100px;
    height: 100px;
    border-radius: 90%;
    background-color: #39145C;
    position: fixed;
    bottom: 0px;
    right: 25px;
}
.fixed-text{
    width: 450px;
    height: 100px;
    background-color:#63009b;
   border-radius: 14px 0px 14px 14px;
   position: fixed;
   bottom: 80px;
   right: 30px;
   font-size: 33px;
  padding-top: 15px;
  padding-left: 8px;
  color: white;
}

}


@media screen and (max-width:426px) {

    .main-container #main-img1{
        width: 1350px;
        height: 550px;
        
    }
    #main-img2{
        top:40px;
        left: 120%;
        
    }
    .main-container h1{
        font-size: 70px;
        top:240px;
        right: -170%;
    }
    .para-1{
        font-size: 45px;
        line-height: 80px;
        margin-top: 10px;
        width: 1300px;
    }
    .forms p{
        font-size: 50px;
        color: gray;
    }
    .textbar{
        padding: 24px 0px 24px 0px;
    }
    .textbar{
        
        width: 1160px;
    
    } 
    .textareabar{
        
        background-color: #F4F4F4;
        width: 1120px;
        height: 200px;
        border-radius: 40px;
        margin-top: 20px;
        margin-bottom: 20px;
        border: none;
    }
    #main-img2{
        width: 400px;
        height: 400px;
        position: absolute;
        top: -100px;
        right: 30%;
    }

.succes-fix-profi img{
    width: 170px;
    height: 170px;
    border-radius: 90%;
    background-color: #39145C;
    position: fixed;
    bottom: 0px;
    right: 15px;
}
.fixed-text{
    width: 500px;
    height: 130px;
    background-color:#63009b;
   border-radius: 14px 0px 14px 14px;
   position: fixed;
   bottom: 100px;
   right: 30px;
   font-size: 33px;
  padding-top: 15px;
  padding-left: 8px;
  color: white;
}



}